body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Helvetica';
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Helvetica';
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Helvetica';
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Helvetica';
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Helvetica';
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #047e7e !important;
}
.bg-info {
  background-color: #047e7e !important;
}
.bg-warning {
  background-color: #f37c20 !important;
}
.bg-danger {
  background-color: #f37c20 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-info,
.btn-info:active {
  background-color: #047e7e !important;
  border-color: #047e7e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #023434 !important;
  border-color: #023434 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #023434 !important;
  border-color: #023434 !important;
}
.btn-success,
.btn-success:active {
  background-color: #047e7e !important;
  border-color: #047e7e !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #023434 !important;
  border-color: #023434 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #023434 !important;
  border-color: #023434 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #bc580a !important;
  border-color: #bc580a !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #a44d09;
  color: #a44d09;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f37c20;
  border-color: #f37c20;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #011b1b;
  color: #011b1b;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #047e7e;
  border-color: #047e7e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #047e7e !important;
  border-color: #047e7e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #011b1b;
  color: #011b1b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #047e7e;
  border-color: #047e7e;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #047e7e !important;
  border-color: #047e7e !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #a44d09;
  color: #a44d09;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f37c20;
  border-color: #f37c20;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #a44d09;
  color: #a44d09;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f37c20;
  border-color: #f37c20;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f37c20 !important;
  border-color: #f37c20 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #f37c20 !important;
}
.text-success {
  color: #047e7e !important;
}
.text-info {
  color: #047e7e !important;
}
.text-warning {
  color: #f37c20 !important;
}
.text-danger {
  color: #f37c20 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #a44d09 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #011b1b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #011b1b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a44d09 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #a44d09 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #047e7e;
}
.alert-warning {
  background-color: #f37c20;
}
.alert-danger {
  background-color: #f37c20;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #0af7f7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #0af7f7;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fdeee2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdeee2;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Helvetica';
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f37c20 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-saRl7vViVv {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-saRl7vViVv .media-container-row {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
@media (min-width: 992px) {
  .cid-saRl7vViVv .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-saRl7vViVv .mbr-figure {
    padding-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-saRl7vViVv .mbr-text {
    text-align: center;
  }
}
.cid-saRomhf6ZG {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-saRomhf6ZG .mbr-section-subtitle {
  color: #767676;
}
.cid-saRofVQk7N {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-saRofVQk7N h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-saRofVQk7N p {
  color: #767676;
  text-align: left;
}
.cid-saRofVQk7N .card-box {
  padding-top: 2rem;
}
.cid-saRofVQk7N .card-wrapper {
  height: 100%;
}
.cid-saRofVQk7N P {
  color: #000000;
}
.cid-saRtvcqcnN {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-saRtvcqcnN .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-saRtvcqcnN .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #000000;
  margin-left: 2rem;
}
.cid-saRtvcqcnN .timeline-text-content p {
  margin-bottom: 0;
}
.cid-saRtvcqcnN .time-line-date-content {
  margin-right: 2rem;
}
.cid-saRtvcqcnN .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #000000;
  float: right;
}
.cid-saRtvcqcnN .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-saRtvcqcnN .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-saRtvcqcnN .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-saRtvcqcnN .mbr-timeline-date,
.cid-saRtvcqcnN .timeline-text-content {
  transition: all .4s;
}
.cid-saRtvcqcnN .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-saRtvcqcnN .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-saRtvcqcnN .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-saRtvcqcnN .reverse .time-line-date-content p {
  float: left;
}
.cid-saRtvcqcnN .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #000000;
  top: 20px;
  margin-left: -10px;
}
.cid-saRtvcqcnN .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #000000;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-saRtvcqcnN .iconBackground {
    left: 0 !important;
  }
  .cid-saRtvcqcnN .separline:before {
    left: 0!important;
  }
  .cid-saRtvcqcnN .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-saRtvcqcnN .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-saRtvcqcnN .time-line-date-content p {
    float: left !important;
  }
  .cid-saRtvcqcnN .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-saRtvcqcnN .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-saRtvcqcnN .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-saRtvcqcnN .mbr-timeline-date {
  color: #ffffff;
}
.cid-saRtvcqcnN .mbr-timeline-text {
  color: #ffffff;
  text-align: left;
}
.cid-saRtvcqcnN .mbr-timeline-title {
  color: #ffffff;
}
.cid-saRtvcqcnN .mbr-timeline-text P {
  text-align: left;
}
.cid-saRtvcqcnN P {
  text-align: left;
  color: #047e7e;
}
.cid-saRArdgsTy {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
