body {
    background-color: white;
}

.title {
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: teal;
    border: 2px solid black;
    margin: auto;
}

.desc {
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
    margin: auto;
}

.images {
    margin: auto;
}
